@import "variables.scss";

.navbar-default .navbar-brand {
    font-family: "Gloria Hallelujah","Helvetica Neue",Helvetica,Arial,cursive;
    color: $primary;
}

body {  
    background-color:$background;
}

header { 
    background-color: $header-background;
}

.bg-light-gray { 
    background-color: $background-light;
}

.text-muted{
    color: $text-muted;
}

h1{
    color: $primary;
}

h3 {
    color: white;
}

section#contact h2 {
    color: $primary;
}

.text-muted-light {
    color: white;
}

a.subscription-button i:hover,
a.subscription-button i:focus,
a.subscription-button i:active {
    background-color: $header-background;
}