@import "variables.scss";

.navbar-default .navbar-brand {
    font-family: "Gloria Hallelujah","Helvetica Neue",Helvetica,Arial,cursive;
    color: $primary;
}

body {  
    background-color:$background;
}

header { 
    background-color: $header-background;
    background-image: url(../img/header-bg.png);
    background-size: auto 100%;
    background-repeat: no-repeat;

}

.bg-light-gray { 
    background-color: $background-light;

}

.text-muted{
    color: $text-muted;
}

h1{
    color: $primary;
}

h3 {
    color: white;
}

.team-description
{
    color: white;
}
section#contact-sect {
    background-color: #222;
}
section#contact-sect h2 {
    color: $primary;
}

.text-muted-light {
    color: white;
}

.team-description{
    padding: 5%;
    background-color: #1f2a40f5;
        border-radius: 25px;

}

.intro-text-box {
    padding: .5%;
    background-color: #1f2a40f5;
    border-radius: 25px;
}

a.subscription-button i {  
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

.contact-image{
    pointer-events: none;
}

a.subscription-button span i:hover,
a.subscription-button span i:focus,
a.subscription-button span i:active {
    color: #444;
}
