{% extends 'partials/portfolio-base.html.twig' %}



{% block content %}
    <div onload="initEvents()"> </div>

    {{ page.content }}
    <div class="about" >
        {% for module in page.collection() %}
            {% if module.blueprintName() != "modular/project" %}
                {{ module.content }}
            {% endif %}
        {% endfor %}
    </div>


    <div class="projects" >
        {% for module in page.collection() %}
            {% if module.blueprintName() == "modular/project" %}
                {{ module.content }}
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}

